ul:after,
.menu-modules:after,
.menu-models:after,
.main-controls:after,
form:after,
form .input-field:after,
.grid-list .summary:after,
.grid-list .controls:after { 
	/*display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;*/
	content: "";
	clear: both;
	display: table;
}
