
@import url('http://fonts.googleapis.com/css?family=Six+Caps');

body {
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 9pt;
	color: #505050;
}

a,
a:link,
a:active,
a:visited,
a:hover {
	color: #f562a6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

form {
	display: block;
}

label {
	padding: 4px;
}

input {
	border: 1px solid #505050;
	padding: 4px;
}

select {
	padding: 4px;
	border: 1px solid #505050;
}

textarea {
	border: 1px solid #505050;
	padding: 4px;
}



.header,
.main,
.footer {
	width: 960px;
	margin: 0 auto;
}

.header-wrapper {
	background: url(../images/bg_grey.gif);
	color: #ffffff;
}

.header {
	padding: 10px 0;
}

.header .user-controls {
	float: right;
	margin-right: 10px;
}

/* Main Controls ============================================================ */
.main-controls {
	clear: both;
	margin: 10px 0 0 0;
}

.main-controls li {
	float: right;
}

.main-controls li a {
	display: block;
	background: #f5d3e3;
	text-transform: uppercase;
	color: #505050;
	padding: 5px;
	font-weight: bold;
}

.main-controls li a:hover {
	text-decoration: none;
	background: #505050;
	color: #f562a6;
}

/* Modules Menu ============================================================= */
.menu-modules {
	clear: both;
}

.menu-modules li {
	float: left;
	text-transform: uppercase;
/*	font-weight: bold;*/
	font-family: 'Six Caps', serif;
	font-size: 20pt;
	padding: 2px 6px;
}

/* Models Menu ============================================================== */
.menu-models {
	margin: 10px 0 0 0;
	clear: both;
}

.menu-models li {
	float: left;
	text-transform: uppercase;
	font-size: 10pt;
	padding: 4px 4px;
	margin-right: 10px;
}

.menu-models li.last {
	margin-right: 0;
}

/* Model List Table ========================================================= */
.grid-list {
	margin: 10px 0 0 0;
	clear: both;
}

.grid-list .model-uri {
}

.grid-list .model-uri h3 {
	text-align: left;
	text-transform: uppercase;
	margin-left: 20px;
}

.grid-list .summary {
	float: left;
	line-height: 15pt;
}

.grid-list .controls {
	margin: 10px 0;
}

.grid-list .pagination {
	float: left;
	margin-left: 20px;
}

.grid-list .pagination li {
	float: left;
	margin-right: 2px;
}

.grid-list .pagination li.last {
	margin-right: 0;
}

.grid-list .pagination a,
.grid-list .pagination .no-link {
	display: block;
	padding: 4px;
}

.model-list {
	margin-top: 10px;
}

.model-list table {
	border-collapse: separate;
	border-spacing: 2px;
	table-layout: fixed;
}

.model-list thead tr {
/*	border-bottom: 1px solid black;*/
}

.model-list td {
	padding: 4px;
	word-break: break-all;
}

.model-list th {
	padding: 2px;
	font-weight: bold;
	text-align: center;
	font-family: 'TrumpGothicWestMedium', sans-serif;
}

.model-list tbody tr:hover {
/*	background: #f5e6ed;*/
}

.model-list tbody td {
/*	border-left: 1px solid black;*/
}

.model-list tbody td.even {
	background: #ffffff;
}

.model-list tbody td.odd {
	background: #fff6fa;
}

.model-list tbody tr:hover td.even {
	background: #fff6fa;
}

.model-list tbody tr:hover td.odd {
	background: #fff0f7;
}

.model-list tbody td.last {
/*	border-right: 1px solid black;*/
}

.model-list tbody tr.last {
	border-bottom: 1px solid black;
}

/* Model List Table ========================================================= */
.model-info {
	margin: 10px 0 0 0;
}

.model-info li {
	margin-bottom: 5px;
}

.model-info li.last {
	margin-bottom: 0;
}

.model-info label {
	display: block;
	float: left;
	width: 200px;
	text-align: right;
	margin-right: 10px;
}

.model-info input {
	display: block;
	float: left;
	width: 250px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.model-info select {
	display: block;
	float: left;
	width: 260px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.model-info textarea {
	display: block;
	float: left;
	width: 250px;
	height: 200px;
	max-width: 250px;
	max-height: 350px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }