li:after,
ul:after,
.header:before,
.header:after,
.header .brand-strip:after,
.footer .info:after,
.main-wrapper:after,
/*.center-fix:after,*/
.ribbon-intro:after,
.text-rule:after,
.competition-root:after,
.games-list:after,
.game-area:before,
.game-area:after,
.main:before,
.main:after,
.main-wrapper:before,
.leaderboard .report:after,
.hemi:before,
.like-structure .liked .heading-gray h3:before,
.connect-box:after,
.answer:after,
.pull-out:after,
.pull-out:before,
.terms-and-conditions:after,
.terms-and-conditions:before,
.vote:after,
.draw-countdown:before,
.draw-countdown:after,
.draw-countdown span:before,
.draw-countdown span:after,
.countdown-wrapper:before,
.countdown-wrapper:after,
.no-access:before, 
.no-access:after,
.leaderboard .col-header:before,
.leaderboard .col-header:after,
.leaderboard .you:after,
.sponsors:before,
.the-rules hr:before,
.the-rules .rules:after,
.the-rules .rules-wrapper:after,
.the-rules .rules-wrapper:before { 
	/*display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;*/
	content: "";
	clear: both;
	display: table;
}
