
body {
	font-family: "Arial", "Helvetica", sans-serif;
	text-transform: uppercase;
	width: 810px;
	text-align: center;
	color: #8f8f8f;
	background: url(../images/body-bg.jpg) repeat-x;
}

div  {
	text-align: center;
}

p {	
	line-height: 1;
	margin: 0;
}

a,
a:link,
a:active,
a:visited,
a:hover {
	color: #fed216;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.form .input-field label.error {
    position: absolute;
    top: -14px;
	width: 200px;
}

.header,
.main,
.footer {
	width: 810px;
	margin: 0 auto;
}

hr {
	border-style: solid;
	border-width: 1px 0 0 0;
	height: 1px;
	float: none;
	clear: both;
}

h3, h2 {
}

.wrapper {
}

.footer {
}

.footer .terms-and-conditions {
	text-align: justify;
	padding: 0 60px;
	margin: 35px 0;
	font-size: 8pt;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.footer .terms-and-conditions span {
}

div.terms-and-conditions ol li{
 list-style: decimal;
 margin-left:50px;
 padding-right:40px;
 text-align:left;
}
.heading {
}

.heading-main {
	width: 600px;
	height: 98px;
	margin: 42px auto 0;
	background: url(../images/heading-main.png) no-repeat;
}
.btn-fb-like {
	width: 45px;
	overflow: hidden;
}
