
input:-moz-placeholder,
.placeholder {
	text-transform: uppercase;
	font-size: 11pt;
	line-height: 11pt;
	font-family: "Ubuntu", "Helvetica", sans-serif;
}

::-webkit-input-placeholder {
	text-transform: uppercase;
	font-size: 11pt;
	line-height: 11pt;
	font-family: "Ubuntu", "Helvetica", sans-serif;
}

/* Wheel ==================================================================== */

.wheel-wrapper {
	width: 622px;
	height: 860px;
	margin: 40px auto 0;
	background: url(../images/wheel-wrapper-bg.png) no-repeat;
	overflow: hidden;
}

.fortune-wheel {
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 605px;
	width: 627px;
	overflow: hidden;
	position: relative;
	margin-left: -3px;
}

.fortune-wheel .btn-spin-now {
	width: 113px;
	height: 113px;
/*	background: url(../images/btn-spin-now.png) no-repeat;*/
	cursor: pointer;
	margin-top: 247px;
	margin-left: 258px;
}

.fortune-wheel .white-circle-overlay {
	width: 502px;
	height: 502px;
	background: url(../images/white-circle-overlay.png) no-repeat;
	position: absolute;
	top: 51px;
	left: 62px;
	display: none;
}

.fortune-wheel .message-box {
	height: 182px;
	width: 422px;
	padding: 182px 40px 138px;
}

.message-box .info-heading {
	font-size: 37pt;
	color: #0062a0;
	text-transform: uppercase;
}

.message-box .info-subheading {
	font-size: 13pt;
	font-weight: normal;
	color: #0062a0;
	text-transform: uppercase;
}

.message-box .info-description {
	margin-top: 75px;
	font-size: 13pt;
	font-weight: normal;
	color: #575757;
}

.btn-facebook-share {
	width: 122px;
	height: 42px;
	margin: 30px auto 0;
	background: url(../images/btn-facebook-share.png) no-repeat;
	cursor: pointer;
}

/* Countdown ================================================================ */

.countdown-wrapper {
	width: 355px;
	margin: 154px auto 0;
	border-radius: 13px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	padding: 4px;
	background: #176090;
	position: relative;
}

.countdown-wrapper h5 {
	position: absolute;
	top: -18px;
	color: white;
	font-size: 10pt;
	font-weight: normal;
	float: none;
	width: 100%;
}

.draw-countdown {
	border-radius: 11px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	padding: 8px 17px;
	background: url(../images/countdown-bg.jpg) repeat-x;
}

.draw-countdown .countdown_amount .digit {
	background: #04304c;
	color: #ffffff;
	font-family: Aldrich, Arial, sans-serif;
	font-size: 18pt;
	padding: 6px 7px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 0 1px;
	display: inline-block;
	width: 18px;
}

.draw-countdown .countdown_section {
	display: block;
	float: left;
	margin: 0 6px;
}
.draw-countdown .countdown_section br{
display:none;
}

.draw-countdown .countdown_section .label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6.5pt;
	font-weight: bold;
	color: #04304c;
	width: 100%;
	display: block;
	margin-top: 4px;
}

/* No Like ================================================================== */

.no-like {
	background: url(../images/no-like-bg.jpg);
}

.no-like .slice {
	margin: 0 auto;
	height: 210px;
}

.no-like .slice-1 {
	background: url(../images/no-like-slice-1.jpg) no-repeat;
}

.no-like .slice-2 {
	background: url(../images/no-like-slice-2.jpg) no-repeat;
}

.no-like .slice-3 {
	background: url(../images/no-like-slice-3.jpg) no-repeat;
}

.no-like .slice-4 {
	background: url(../images/no-like-slice-4.jpg) no-repeat;
}

.no-like .slice-5 {
	background: url(../images/no-like-slice-5.jpg) no-repeat;
}

.no-like .slice-6 {
	background: url(../images/no-like-slice-6.jpg) no-repeat;
	height: 106px;
}

.no-like .btn-fb-like {
	margin-top: 135px;
}

/* No Access ================================================================ */

.no-access {
	background: url(../images/no-access-bg.jpg);
}

.no-access .slice {
	margin: 0 auto;
	height: 260px;
}

.no-access .slice-1 {
	background: url(../images/no-access-slice-1.jpg) no-repeat;
}

.no-access .slice-2 {
	background: url(../images/no-access-slice-2.jpg) no-repeat;
}

.no-access .slice-3 {
	background: url(../images/no-access-slice-3.jpg) no-repeat;
}

.no-access .slice-4 {
	background: url(../images/no-access-slice-4.jpg) no-repeat;
}

.no-access .slice-5 {
	background: url(../images/no-access-slice-5.jpg) no-repeat;
	height: 176px;
}

.no-access .btn-grant-permissions {
	background: url(../images/btn-grant-permissions.png) no-repeat;
	width: 80px;
	height: 80px;
	border: none;
	margin-top: 30px;
	cursor: pointer;
}

/* Leaderboard ============================================================== */

.leaderboard {
	background-color: #084368;
}

.leaderboard ul {
	width: 692px;
	margin: 20px auto 0;
}

.leaderboard .report-section {
	float: left;
	font-family: Telex, Arial, sans-serif;
	font-size: 10.5pt;
}

.leaderboard li {
	margin-bottom: 12px;
}

.leaderboard .rounded {
	background-color: #002942;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 7px 13px;
}

.leaderboard .rank {
	font-weight: bold;
	font-size: 13pt;
	color: #191919;
	width: 24px;
	text-align: left;
	padding-top: 4px;
}

.leaderboard .name {
	font-size: 10.5pt;
	color: #a8a8a8;
	width: 423px;
	text-align: left;
	margin-left: 10px;
}

.leaderboard .points {
	width: 85px;
	margin-left: 4px;
}

.leaderboard .prize {
	width: 50px;
	background-color: #ffffff;
	color: #084368;
	margin-left: 13px;
}

.leaderboard hr {
	border-top: 2px solid #002942;
	margin: 0;
	padding: 0;
	width: 100%;
}

.leaderboard .col-header {
	width: 692px;
	margin: 23px auto 0;
}

.leaderboard .col-header div {
	background-color: transparent !important;
	color: #002942 !important;
	font-size: 8pt !important;
	float: left;
	padding: 0 13px !important;
	font-weight: normal !important;
	text-align: left !important;
}

.leaderboard .col-header .rank {
	padding-left: 0 !important;
}

.leaderboard .col-header .name {
	margin-left: 0 !important;
}

.leaderboard .main-header {
	height: 108px;
	background: url(../images/leaderboard-heading.png) 50% 50% #002942 no-repeat;
}

.leaderboard hr.rainbow {
	border: none;
	height: 3px;
	background: url(../images/rainbow-bg.jpg);
}

.leaderboard .you {
	width: 692px;
	margin: 30px auto 20px auto;
}

.leaderboard .you .name,
.leaderboard .you .points,
.leaderboard .you .rank {
	float: left;
	width: auto;
	margin-left: 22px;
	padding: 0;
}

.leaderboard .you .name {
	margin-left: 0;
}

.leaderboard .you .label {
	display: inline-block;
	float: left;
	padding-top: 5px;
}

.leaderboard .you .value {
	background-color: #002942;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 7px 12px;
	color: #ffffff;
	float: left;
	display: inline-block;
	margin-left: 8px;
}

.leaderboard .you div {
	color: #9fa3a6;
	float: left;
	font-size: 10.5pt;
	font-weight: normal;
}

.leaderboard .you .name .value {
	width: 296px;
}

.leaderboard .you .points .value,
.leaderboard .you .rank .value {
	width: 67px;
	text-align: right;
}	

/* Terms and Conditions ===================================================== */

.pull-out {
	background-color: #002942;
}

.pull-out .container {
	height: 0px;
	overflow: hidden;
}

.pull-out .handle {
	padding: 17px 0;
	background: url(../images/toc-handle-bg.png) 50% 50% no-repeat;
	color: #ffffff;
	cursor: pointer;
}

/* Sponsors ================================================================= */

.sponsors {
	background-color: #ffffff;
}

.sponsors h3 {
	font-size: 10.5pt;
	color: #002942;
	margin: 28px 0;
}

.sponsors .logos {
	background: url(../images/sponsor-logos.png) no-repeat;
	width: 630px;
	height: 575px;
	margin: 35px auto 0;
}

/* The Rules ================================================================ */

.the-rules {
	width: 692px;
	margin: 35px auto 0;
}

.the-rules .rules-wrapper {
	
}

.the-rules .main-heading {
	background: url(../images/the-rules-main-heading.jpg) no-repeat;
	width: 340px;
	height: 92px;
	float: left;
}

.the-rules .rules {
	width: 322px;
	height: 78px;
	margin-left: 10px;
	background-color: #d5e3f0;
	color: #3d3d3d;
	float: left;
	text-transform: none;
	padding: 7px 10px;
	font-weight: bold;
}

.the-rules .rules .rule {
	text-align: left;
}

.the-rules .rules ul {
	list-style-type: disc;
	list-style-position: outside;
	position: relative;
}

.the-rules .rules li {
	margin-bottom: 7px;
	margin-left:15px;
}

.the-rules .rules li.last {
	margin-bottom: 0;
}

.the-rules hr {
	width: 102px;
	margin: 30px auto;
	height: 6px;
	border: none;
	background: url(../images/the-rules-rule.png) repeat-x;
}
