
.section-not-liked {
	position: relative;
}

/* Blurred ================================================================== */
.blurred {
	width: 100%;
	background-repeat: no-repeat;
}

.blurred-1 {
	background-image: url(../images/welcome-1.jpg);
	height: 265px;
}

.blurred-2 {
	background-image: url(../images/welcome-2.jpg);
	height: 193px;
}

.blurred-3 {
	background-image: url(../images/welcome-3.jpg);
	height: 264px;
}

.blurred-4 {
	background-image: url(../images/welcome-4.jpg);
	height: 274px;
}

.blurred-5 {
	background-image: url(../images/welcome-5.jpg);
	height: 383px;
}

/* Like Structure =========================================================== */

.like-structure {
	position: absolute;
	height: 76px;
	background: url(../images/like-structure-bg.jpg) repeat-x;
	padding: 10px 34px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: -5px -5px 27px 4px #222222;
	box-shadow: -5px -5px 27px 4px #222222;
	top: 218px;
	left: 252px;
}

.like-structure .fb-button-like {
	width: 50px;
	overflow: hidden;
	display: block;
	margin-top: 25px;
	float: left;
}

.like-structure .like-text {
	color: #373634;
	font-weight: bold;
	font-size: 12pt;
	width: 155px;
	float: right;
	text-align: left;
	margin-top: 20px;
}
